.cosoverde {
  background-color: #74c69d;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
.foto_idea {
  width: 100%;
 
}


.text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 470px;
}

.explora {
  background-color: white;
  color: black;
  align-items: center;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
  width: 150px;
}
.welcome {
  padding: 10px;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 470px;
}

@media (min-width: 1440px) {
  .cosoverde {
    flex-direction: row-reverse;
      gap: 130px;
      padding: 130px;
      justify-content: center;
      align-items: center;
  }

  
}

