/*Nuestro equipo */

.NuestroEquipo {
    text-align: center;
}

.equipo {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.FotoEquipo {
    background-color: white;
    width: 240px;
    padding: 20px;
    margin: 40px;
    border-radius: 0px;
    box-shadow: 0px 4px 5px grey;
    text-align: center
}

.image-user {
    width: 100px;
    border-radius: 50%;
}

.profesio {
    
    color: grey;
    
}