q<div class="div3">
  <div class="container-image3">
    <img src="/images/3.svg" alt="imagen3" />
  </div>
  <div class="flex">
    <h1>Lorem Ipsum</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic culpa ad
      impedit? Repellendus deleniti cumque assumenda illo? Omnis corrupti, ipsam
      eligendi sint dolorum neque, nisi tempora minima explicabo dolorem ad!
    </p>

    <div class="container-ver-mas">
      <a class="ver-mas" href="">ver mas</a>
    </div>
  </div>
</div>
