</div>
<section class="textoeimagen">
    <div class="imagen">
     <img class="photo" src="/images/2.svg" alt="comunicacion">
    </div>
    <div class="texto">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque voluptatibus voluptatum pariatur enim recusandae alias cupiditate commodi molestias quos vel nulla consectetur suscipit, quae voluptas incidunt nostrum, tempora, officiis quisquam!</p>
        <div>
            <a href="" class="button-2" > ver mas </a> 
        </div>

    </div>
</section>
    
</div>