<div id="equipo" class="NuestroEquipo">
  <h1 class="textoequipo">Nuestro equipo</h1>
  <div class="equipo">
    <div class="FotoEquipo">
      <img
        class="image-user"
        src="./images/Nuria-foto.png"
        alt="Foto perfil equipo"
      />
      <h2>Nuria Campo</h2>
      <p class="profesio">Hormiga</p>
    </div>
    <div class="FotoEquipo">
      <img
        class="image-user"
        src="./images/Tania-foto.jpg"
        alt="Foto perfil equipo"
      />
      <h2>Tania Nadales</h2>
      <p class="profesio">Loba</p>
    </div>
    <div class="FotoEquipo">
      <img
        class="image-user"
        src="./images/Kendal-foto.jpg"
        alt="Foto perfil equipo"
      />
      <h2>Kendal Tellez</h2>
      <p class="profesio">Ballena</p>
    </div>
    <div class="FotoEquipo">
      <img
        class="image-user"
        src="./images/Gojo.jpg"
        alt="Foto perfil equipo"
      />
      <h2>Carme Medina</h2>
      <p class="profesio">Panda rojo</p>
    </div>
  </div>
</div>
