<div class="NuestroEquipo">
    <h1 class="textoequipo">Nuestro equipo</h1>
    <div class="equipo">
        <div class="FotoEquipo">
            <img class="image-user" src="./images/Gojo.jpg" alt="Foto perfil equipo">
            <h2>Nuria Campo</h2>
            <p> Profesio </p>
        </div>
        <div class="FotoEquipo">
            <img class="image-user" src="./images/Gojo.jpg" alt="Foto perfil equipo">
            <h2>Tania Nadales</h2>
            <p> Profesio </p>
        </div>
        <div class="FotoEquipo">
            <img class="image-user" src="./images/Gojo.jpg" alt="Foto perfil equipo">
            <h2>Kendal Tellez</h2>
            <p> Profesio </p>
        </div>
        <div class="FotoEquipo">
            <img class="image-user" src="./images/Gojo.jpg" alt="Foto perfil equipo">
            <h2>Carme Medina</h2>
            <p> Profesio </p>
        </div>
    </div>

</div>