<footer class="footer">
  <section class="iconos-redes-sociales">
      <i class="icono fa-brands fa-facebook-f"></i>
      <i class="icono fa-brands fa-instagram"></i>
      <i class="icono fa-brands fa-twitter"></i>
      <i class="icono fa-brands fa-pinterest-p"></i>
      <i class="icono fa-brands fa-tiktok"></i>
      <i class="icono fa-brands fa-whatsapp"></i>
      <i class="icono fa-brands fa-youtube"></i>
  </section>
  <section class="copiright">
      <i class="fa-regular fa-copyright"></i>
      <span>Adatech, 2024.</span>
  </section>
</footer>