<div class="contact">
    <h1>Contáctanos</h1>
    
</div>
<div class="form">
    <form action="https://formspree.io/"></form>
    <label class="name" for="name">Nombre</label>
    <input class="namebox" id="name" type="text" name="name">
    <label for="email">Email</label>
    <input class="emailbox" id="email" type="email" name="email">
    <label for="message">Mensaje</label>
    <textarea class="text" name="message" id="message" cols="30" rows="10"></textarea>

    <input class="submit" type="submit" value="Submit">

</div>
  
 

