<header class="cabecera">
  <div class="cabecera-contenido-movil">
    <a href="../index.html">
      <img class="logo-cabecera" src="./images/raton.png" alt="mouse" />
      <span class="texto-cabecera">TechAnimal</span>
    </a>
    <img
      class="menu-hamburguesa"
      src="./images/menu-icon.png"
      alt="es un icono de menú hamburguesa"
    />
  </div>

  <div class="contenedor-menu">
    <ul class="listado-menu">
      <li><a href="/index.html/#adalab">Adalab</a></li>
      <li><a href="/index.html/#union">¿Qué nos une?</a></li>
      <li><a href="/index.html/#libre">Dónde estamos</a></li>
      <li><a href="/index.html/#nosotras">Nosotras</a></li>
      <li><a href="/contacto.html">Contacto</a></li>
    </ul>
  </div>
</header>
