<header class="cabecera">
    <div class="cabecera-contenido-movil">
      <a href="../index.html">
        <img class="logo-cabecera" src="./images/a.svg" alt="logo de AdaTech">
      <span class="texto-cabecera">AdaTech</span>
      </a>
    <img class="menu-hamburguesa" src="./images/menu-icon.png" alt="es un icono de menú hamburguesa">
    </div>


    <div class="contenedor-menu">
        <ul class="listado-menu">
            <li>Home</li>
            <li>Servicios</li>
            <li>Nosotras</li>
            <li><a href="/contacto.html">Contacto</a></li>
        </ul>
    </div>

</header>