@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';



// // :root {
// //     --color-principal: #74c69d;
// //     --letra-principal: "Work Sans", sans-serif;
// //     --letra-secundaria: "Crimson Text", serif;
// //     --color-letra: white;
// //   }
//   /*Fonts+sizes+colors*/
//   /* bajar opacidad en todos los p, preguntar compis como hacer con h1s */
//   .body {
//     font-family: var(--letra-principal);
//   }
  
//   /* .h1 font-size: 20%;
//   font-family: var(--letra-secundaria); */
  
  
  .photo {
    width: 100%;
  }
  
  
  
  .cosoverde {
    background-color: #74c69d;
    font-family: Arial, sans-serif;
  }
  
  .div2{
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .foto_idea{
    width: 100%;
  }
  .explora {
    background-color: white;
    color: black;
    align-items: center;
    display: inline-block;
    padding: 15px 30px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
    margin: 10px;
  }
  .welcome {
    padding: 10px;
    color: white;
    font-family:sans-serif;
  }
  .titulo2 {
    padding: 10px;
    color: white;
    font-family: crismonText;
  }
  .titulo3 {
    padding: 10px;
    color: white;
    font-family:sans-serif ;
  }
  .button-2 {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 15px 30px;
    align-self: flex-start;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  /*Nuestro equipo */
  .NuestroEquipo{
    text-align: center;
  }
  .equipo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .FotoEquipo {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px black;
    text-align: center;
  }
  
  .image-user {
    width: 100px;
    border-radius: 50%;
  }
  
  /*Nuestro equipo */
  .div3 {
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .container-image3 img{
    width: 100%;
    margin-left: 10px;
  }
  
  .ver-mas {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 15px 30px;
    align-self: flex-start;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  
  .ver-mas:hover {
    transform: scale(2px);
  }