.coso-3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

.texto-coso-3 {

}

.image-3 {
    width: 200px;
}
.button-coso-3 {
    

}

.ver-mas {
    background-color: black;
    color: white;
}
.container-coso-3 {
    
}